
  .logo {
    width: 8rem;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: #000;
  }
  
  .nav-menu {
    background-color:#151517;
    width: 25%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  
  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-item span {
    font-size: 18px;
    padding: 0 16px;
  }
  
  .nav-item:hover {
    background-color: #524e4ea9;
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
  }

  .nav-actions {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    cursor: pointer;
  }