.navbar {
    background-color: #151517;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo {
    width: 8rem;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: #000;
  }
  
  .nav-menu {
    background-color:#151517;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: relative;
    z-index: 3;
    top: 0;
    left: -100%;
    transition: 850ms;
    flex-direction: column;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 450ms;
  }
  
  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-item span {
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-item:hover {
    background-color: #524e4ea9;
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
  }

  .nav-actions {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
  }