.page-content{
    display: flex;
}

.container-body{
    width: 100%;
    background-color: #eee;
    flex: 1;
    height: 100vh;
    max-width: 100vw;
    overflow: auto;
}

.countries-section{
    padding: 6rem 3rem !important;
}